<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2> Lingfeinity</h2>
        </header>
        <p>This is <strong>Lingfei</strong>'s blog </p>
        <p>Love <strong>Sciences</strong>; Enjoy the beauty of <strong>Mathematics</strong> and <strong>Statistics</strong>. <p>
        <p>A forever <strong>Buckeye</strong> Football Fan.   </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
